<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs</title>
</head>
<body>
    <div class="container">
    <p>Node Js Integration</p>
    <form id = "learn" method="POST" action = "/test">
        <input type="text" name ="Name" placeholder="Name">
        <input type="text" name ="Gender" placeholder="Gender">
        <input type="text" name ="Phone" placeholder="Phone">
        <input type="text" name ="Address" placeholder="Address">
        <input type="text" name ="Email" placeholder="Email">
        <input type="submit" value = "Submit" /> 
    </form>
    </div>
    
</body>
</html>